.about-section {
  background-color: #f4eef4;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.info-about {
  font-size: 0.8rem;
  font-weight: lighter;
  line-height: 1.7;
  margin: 20px auto;
  text-align: left;
  width: 90%;
}

.about-section h5 {
  font-size: 0.9rem;
  margin: 0;
}

.about-pic {
  width: 150px;
}

.about-pic-section {
  margin: auto;
}

/* Medium devices. The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .info-about-section {
    width: 55%;
  }

  .about-section {
    padding: 40px;
  }

  .about-pic {
    width: 200px;
  }
}

/* Large devices */
@media (min-width: 1024px) {
  .about-section {
    padding: 40px 100px;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
  .about-section {
    padding: 40px 200px;
  }
}

.italic {
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif body

}