.logo-bar-section {
  height: 200px;
  padding-top: 70px;
}

.logo {
  height: 200px;
}

/* Medium devices. The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .logo-bar-section {
    height: 250px;
  }

  .logo {
    height: 250px;
  }
}

/* Large devices */
@media (min-width: 1024px) {
  .logo-bar-section {
    height: 300px;
  }

  .logo {
    height: 300px;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
