/* Small devices (max-width 480px) */

.navbar {
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0/8%) !important;
  display: flex;
  font-size: 1rem;
  height: 70px;
  justify-content: space-between;
}

.nav-actions {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-right: 10%;
}

.nav-list {
  align-items: center;
  display: flex;
  margin: 0 20px;
}

.social-network-icon {
  margin-right: 10px;
  width: 22px;
}

.list {
  list-style-type: none;
}

.list-item {
  display: inline;
  padding: 20px;
}

.list-item a {
  color: #878277;
  text-decoration: none;
}

.action {
  margin: 0 20px;
}

.btn {
  background-color: #c7b89a;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 1rem;
  padding: 8px 20px;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.title {
  font-family: pristina;
  font-size: 1.2rem;
  font-weight: bold;
}

.offcanvas-icon {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

/* Medium devices. The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 1024px) {
  .list-item {
    padding: 20px 40px;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
